<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS a} %highlight{%highlight{%-5level}}{FATAL=black, ERROR=black, WARN=black, INFO=black, DEBUG=black, TRACE=black, ALL=black} [%15.15t] %logger{36}:   %msg%n"/>
        </Console>
<!--        <File name="ReceiveLogFile" fileName="logs/receive.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS a} %-5level [%15.15t] %logger{36}: %msg%n"/>-->
<!--        </File>-->
<!--        <File name="SendLogFile" fileName="logs/send.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS a} %-5level [%15.15t] %logger{36}: %msg%n"/>-->
<!--        </File>-->
    </Appenders>
    <Loggers>
<!--        <Logger name="com.example.config.ReceiveLoggingInterceptor" level="INFO">-->
<!--            <AppenderRef ref="ReceiveLogFile"/>-->
<!--        </Logger>-->

<!--        <Logger name="com.example.config.ResponseLoggingInterceptor" level="INFO">-->
<!--            <AppenderRef ref="SendLogFile"/>-->
<!--        </Logger>-->

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ReceiveLogFile"/>
            <AppenderRef ref="SendLogFile"/>
        </Root>
    </Loggers>
</Configuration>